In [10]:
import pandas as pd
import numpy as np
import os
import re
import requests
import matplotlib.pyplot as plt
%matplotlib inline

In [11]:
pc_file = os.path.join(os.pardir,"data","postcodes_uniq.csv")
pcdf = pd.read_csv(pc_file, header=None, names={'postalcode'})
pcdf = pcdf.fillna('')
pcdf['lat'] = ''
pcdf['lon'] = ''
print(len(pcdf))
print(pcdf.head())
# pcdf.to_csv(os.path.join(os.pardir,"data","pc_latlon.csv"), index=False)

27393
  postalcode lat lon
0     400336
1     546183
2     578345
3     650420
4     460059

In [12]:
pc_file = os.path.join(os.pardir,"data","pc_latlon.csv")
pcdf = pd.read_csv(pc_file)
pcdf = pcdf.fillna('')

In [13]:
print(len(pcdf))
pcdf.head(7)

27393

  postalcode lat lon
0     400336
1     546183
2     578345
3     650420
4     460059
5
6     466507

In [14]:
validpc_regex = re.compile("\\b([0-9]{4}(?:[1-9][0-9]|[0-9][1-9]))")

In [15]:
pcdf['validity'] = pcdf['postalcode'].apply(lambda x: bool(re.search(validpc_regex, str(x))))
pcdf

      postalcode lat lon validity
0         400336             True
1         546183             True
2         578345             True
3         650420             True
4         460059             True
5                           False
6         466507             True
7         357984             True
8         760776             True
9         560129             True
10        732685             True
11        669558             True
12        737785             True
13        330004             True
14        531470             True
15        684686             True
16        760150             True
17        640489             True
18        798595             True
19        828785             True
20        540142             True
21        543124             True
22        550407             True
23        670183             True
24        510709             True
25        760797             True
26        315079             True
27        275018             True
28        310153             True
29        160043             True
...          ...  ..  ..      ...
27363     454965             True
27364     549740             True
27365     428717             True
27366     535039             True
27367     746760             True
27368     577591             True
27369     460449             True
27370     548135             True
27371     554863             True
27372     455301             True
27373     598176             True
27374     489204             True
27375     381006             True
27376     117846             True
27377     788588             True
27378     508254             True
27379     259731             True
27380     759711             True
27381     249446             True
27382     808631             True
27383     574148             True
27384     398231             True
27385     786442             True
27386     596548             True
27387     538908             True
27388     218695             True
27389     229236             True
27390     487448             True
27391     578291             True
27392     637923             True

[27393 rows x 4 columns]

In [16]:
print(len(pcdf.loc[pcdf['validity'] == False]))
poorly_formed_ps = pcdf.loc[pcdf['validity'] == False][['postalcode', 'lat', 'lon']]
poorly_formed_ps = poorly_formed_ps.reset_index(drop=True)
print(poorly_formed_ps)

266
    postalcode lat lon
0
1       320100
2       538800
3         2057
4       797500
5       562700
6       466000
7       556800
8       138600
9       140100
10      528800
11      199600
12      550500
13      310200
14      563700
15      357900
16        1335
17      750300
18      239100
19      298100
20      419400
21        1231
22      510700
23      737900
24      460100
25      739000
26      541200
27      561700
28      425300
29      310100
..         ...  ..  ..
236     328400
237     535500
238     467900
239     805800
240     547400
241     S46401
242     600300
243     456200
244       0315
245      81200
246     813000
247     465300
248       1441
249     426000
250     465700
251     349800
252     358800
253     536200
254       1440
255     447700
256     12-405
257     138500
258       2159
259     278600
260       1647
261      31034
262     459400
263     418300
264     133600
265     547200

[266 rows x 3 columns]

In [17]:
print(len(pcdf.loc[pcdf['validity'] == True]))
vpcdf = pcdf.loc[pcdf['validity'] == True][['postalcode', 'lat', 'lon']]
vpcdf = vpcdf.reset_index(drop=True)
print(vpcdf)

27127
      postalcode lat lon
0         400336
1         546183
2         578345
3         650420
4         460059
5         466507
6         357984
7         760776
8         560129
9         732685
10        669558
11        737785
12        330004
13        531470
14        684686
15        760150
16        640489
17        798595
18        828785
19        540142
20        543124
21        550407
22        670183
23        510709
24        760797
25        315079
26        275018
27        310153
28        160043
29        270026
...          ...  ..  ..
27097     454965
27098     549740
27099     428717
27100     535039
27101     746760
27102     577591
27103     460449
27104     548135
27105     554863
27106     455301
27107     598176
27108     489204
27109     381006
27110     117846
27111     788588
27112     508254
27113     259731
27114     759711
27115     249446
27116     808631
27117     574148
27118     398231
27119     786442
27120     596548
27121     538908
27122     218695
27123     229236
27124     487448
27125     578291
27126     637923

[27127 rows x 3 columns]

In [20]:
vpc_file = os.path.join(os.pardir,"data","validated_postcodes_uniq.csv")
vpcdf['postalcode'].to_csv(vpc_file, index=False)

In [ ]:
print(type(vpcdf['postalcode'][7]))

In [ ]:
def onemap_geocode(postalcode):
    header = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}
    onemap_request = 'https://developers.onemap.sg/commonapi/search?searchVal=' + postalcode + '&returnGeom=Y&getAddrDetails=N'
#     print(onemap_request)
    response = requests.get(onemap_request)
    response_json = response.json()

    try:
        lat = response_json['results'][0]['LATITUDE']
        lon = response_json['results'][0]['LONGITUDE']
    except IndexError:
        lat = ''
        lon = ''
    print('response for ' + postalcode + ': ' + lat + ", " + lon)
    return lat + ', ' + lon

In [ ]:
onemap_geocode('178880')

In [ ]:
%%time
tempdf = vpcdf.iloc[:100]
tempdf['latlon'] = tempdf['postalcode'].apply(lambda x: onemap_geocode(x))
print(tempdf)
# vpcdf['latlon'] = vpcdf['postalcode'].apply(lambda x: onemap_geocode(x))

In [ ]:
vpcdf['lat'] = vpcdf['latlon'].apply(lambda x: x.split(',')[0])
vpcdf['lon'] = vpcdf['latlon'].apply(lambda x: x.split(',')[1])
print(vpcdf.head(20))

In [ ]:
vpcdf = vpcdf[['postalcode', 'lat', 'lon']]
vpcdf.reset_index()
print(len(pcdf))
pcdf

In [ ]:
pc_latlon_file = os.path.join(os.pardir,"data","withlatlon.csv")
vpcdf.to_csv(pc_latlon_file)