In [1]:
import pandas as pd
import numpy as np
import os
import re
import requests
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
pc_file = os.path.join(os.pardir,"data","postcodes_uniq.csv")
pcdf = pd.read_csv(pc_file, header=None, names={'postalcode'})
pcdf = pcdf.fillna('')
pcdf['lat'] = ''
pcdf['lon'] = ''
print(len(pcdf))
print(pcdf.head())
pcdf.to_csv(os.path.join(os.pardir,"data","pc_latlon.csv"), index=False)

27393
  postalcode lat lon
0     400336
1     546183
2     578345
3     650420
4     460059

In [3]:
pc_file = os.path.join(os.pardir,"data","pc_latlon.csv")
pcdf = pd.read_csv(pc_file)
pcdf = pcdf.fillna('')

In [4]:
print(len(pcdf))
pcdf.head(7)

27393

  postalcode lat lon
0     400336
1     546183
2     578345
3     650420
4     460059
5
6     466507

In [5]:
validpc_regex = re.compile("\\b([0-9]{4}(?:[1-9][0-9]|[0-9][1-9]))")

In [6]:
pcdf['validity'] = pcdf['postalcode'].apply(lambda x: bool(re.search(validpc_regex, str(x))))
pcdf

      postalcode lat lon validity
0         400336             True
1         546183             True
2         578345             True
3         650420             True
4         460059             True
5                           False
6         466507             True
7         357984             True
8         760776             True
9         560129             True
10        732685             True
11        669558             True
12        737785             True
13        330004             True
14        531470             True
15        684686             True
16        760150             True
17        640489             True
18        798595             True
19        828785             True
20        540142             True
21        543124             True
22        550407             True
23        670183             True
24        510709             True
25        760797             True
26        315079             True
27        275018             True
28        310153             True
29        160043             True
...          ...  ..  ..      ...
27363     454965             True
27364     549740             True
27365     428717             True
27366     535039             True
27367     746760             True
27368     577591             True
27369     460449             True
27370     548135             True
27371     554863             True
27372     455301             True
27373     598176             True
27374     489204             True
27375     381006             True
27376     117846             True
27377     788588             True
27378     508254             True
27379     259731             True
27380     759711             True
27381     249446             True
27382     808631             True
27383     574148             True
27384     398231             True
27385     786442             True
27386     596548             True
27387     538908             True
27388     218695             True
27389     229236             True
27390     487448             True
27391     578291             True
27392     637923             True

[27393 rows x 4 columns]

In [7]:
print(len(pcdf.loc[pcdf['validity'] == False]))
poorly_formed_ps = pcdf.loc[pcdf['validity'] == False][['postalcode', 'lat', 'lon']]
poorly_formed_ps = poorly_formed_ps.reset_index(drop=True)
print(poorly_formed_ps)

266
    postalcode lat lon
0
1       320100
2       538800
3         2057
4       797500
5       562700
6       466000
7       556800
8       138600
9       140100
10      528800
11      199600
12      550500
13      310200
14      563700
15      357900
16        1335
17      750300
18      239100
19      298100
20      419400
21        1231
22      510700
23      737900
24      460100
25      739000
26      541200
27      561700
28      425300
29      310100
..         ...  ..  ..
236     328400
237     535500
238     467900
239     805800
240     547400
241     S46401
242     600300
243     456200
244       0315
245      81200
246     813000
247     465300
248       1441
249     426000
250     465700
251     349800
252     358800
253     536200
254       1440
255     447700
256     12-405
257     138500
258       2159
259     278600
260       1647
261      31034
262     459400
263     418300
264     133600
265     547200

[266 rows x 3 columns]

In [8]:
print(len(pcdf.loc[pcdf['validity'] == True]))
vpcdf = pcdf.loc[pcdf['validity'] == True][['postalcode', 'lat', 'lon']]
vpcdf = vpcdf.reset_index(drop=True)
print(vpcdf)

27127
      postalcode lat lon
0         400336
1         546183
2         578345
3         650420
4         460059
5         466507
6         357984
7         760776
8         560129
9         732685
10        669558
11        737785
12        330004
13        531470
14        684686
15        760150
16        640489
17        798595
18        828785
19        540142
20        543124
21        550407
22        670183
23        510709
24        760797
25        315079
26        275018
27        310153
28        160043
29        270026
...          ...  ..  ..
27097     454965
27098     549740
27099     428717
27100     535039
27101     746760
27102     577591
27103     460449
27104     548135
27105     554863
27106     455301
27107     598176
27108     489204
27109     381006
27110     117846
27111     788588
27112     508254
27113     259731
27114     759711
27115     249446
27116     808631
27117     574148
27118     398231
27119     786442
27120     596548
27121     538908
27122     218695
27123     229236
27124     487448
27125     578291
27126     637923

[27127 rows x 3 columns]

In [9]:
print(type(vpcdf['postalcode'][7]))

<class 'str'>

In [10]:
def onemap_geocode(postalcode):
    header = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}
    onemap_request = 'https://developers.onemap.sg/commonapi/search?searchVal=' + postalcode + '&returnGeom=Y&getAddrDetails=N'
#     print(onemap_request)
    response = requests.get(onemap_request)
    response_json = response.json()

    try:
        lat = response_json['results'][0]['LATITUDE']
        lon = response_json['results'][0]['LONGITUDE']
    except IndexError:
        lat = ''
        lon = ''
    print('response for ' + postalcode + ': ' + lat + ", " + lon)
    return lat + ', ' + lon

In [11]:
onemap_geocode('178880')

response for 178880: 1.28881003164, 103.85034901

'1.28881003164, 103.85034901'

In [17]:
%%time
tempdf = vpcdf.iloc[:100]
tempdf['latlon'] = tempdf['postalcode'].apply(lambda x: onemap_geocode(x))
print(tempdf)
# vpcdf['latlon'] = vpcdf['postalcode'].apply(lambda x: onemap_geocode(x))

response for 400336: 1.32572020348, 103.901822393
response for 546183: 1.3624250511, 103.876520751
response for 578345: 1.37403135668, 103.832480498
response for 650420: 1.36255043036, 103.745770795
response for 460059: 1.32454416186, 103.92061613
response for 466507: 1.31578148106, 103.941424516
response for 357984: 1.34656818171, 103.868524083
response for 760776: 1.42255934807, 103.83394406
response for 560129: 1.36989498896, 103.84205905
response for 732685: 1.4413334284, 103.806136165
response for 669558: 1.36249366464, 103.765891211
response for 737785: 1.42867767353, 103.786351064
response for 330004: 1.31620522831, 103.860021154
response for 531470: 1.37905480017, 103.901927832
response for 684686: 1.4041436942, 103.748355691
response for 760150: 1.4309694175, 103.833648679
response for 640489: 1.34917459624, 103.727239833
response for 798595: 1.38762349661, 103.879314929
response for 828785: 1.40503554983, 103.900043752
response for 540142: 1.39045415383, 103.905102918
response for 543124: 1.3880964074, 103.902720783
response for 550407: 1.34718613035, 103.872968182
response for 670183: 1.37996383569, 103.763048292
response for 510709: 1.38176171803, 103.93857797
response for 760797: 1.41919704538, 103.833594312
response for 315079: 1.33472713626, 103.849822984
response for 275018: 1.30998398427, 103.792601367
response for 310153: 1.33357057543, 103.845723777
response for 160043: 1.28467056651, 103.831049308
response for 270026: 1.30831872044, 103.785675105
response for 680505: 1.38907418639, 103.742140885
response for 510146: 1.3630359179, 103.960157916
response for 311139: 1.33627775831, 103.844044881
response for 760157: 1.43221790097, 103.834091373
response for 544250: 1.39325011291, 103.899822684
response for 440057: 1.30651257347, 103.9154848
response for 768076: 1.43866585604, 103.829737219
response for 670440: 1.38368429456, 103.770076986
response for 669559: 1.36118814879, 103.765053075
response for 792443: 1.39118380459, 103.873946079
response for 544262: 1.39424037512, 103.894971589
response for 560429: 1.36908945811, 103.85342147
response for 640723: 1.34446501085, 103.698164449
response for 650534: 1.35590698155, 103.750411621
response for 310142: 1.33583774995, 103.845162997
response for 430008: 1.31366979476, 103.896069588
response for 400347: 1.32566116951, 103.899733223
response for 821173: 1.39701308622, 103.909354092
response for 470626: 1.33436836446, 103.915682192
response for 530515: 1.37239536533, 103.889038096
response for 562588: 1.37197571261, 103.853150895
response for 150083: 1.2868689746, 103.819435857
response for 522522: 1.35782276633, 103.939084809
response for 520724: 1.35684229419, 103.93495116
response for 530139: 1.35223111078, 103.884240124
response for 678948: 1.37315509208, 103.765701525
response for 461060: 1.32247807692, 103.941254615
response for 531002: 1.35060795613, 103.875680064
response for 570316: 1.35182024656, 103.839523579
response for 212672: 1.30903703925, 103.852847667
response for 760794: 1.41996552208, 103.832204393
response for 198474: 1.30113382449, 103.860761084
response for 540112: 1.38345976601, 103.901383675
response for 152120: 1.28277443239, 103.822612454
response for 520247: 1.34427596105, 103.953170239
response for 425259: 1.31112539572, 103.916556711
response for 560317: 1.3656247833, 103.847011475
response for 320038: 1.32690591898, 103.856486649
response for 380102: 1.32043903022, 103.882420433
response for 650298: 1.34479741197, 103.74714079
response for 538564: 1.34430273223, 103.879300994
response for 669617: 1.36255690674, 103.765233809
response for 120423: 1.30945612208, 103.769918823
response for 546685: 1.36723934517, 103.877869108
response for 760352: 1.42646254168, 103.844908931
response for 425687: 1.31266290804, 103.911509004
response for 208766: 1.30827581229, 103.86311742
response for 530690: 1.37693205727, 103.885697042
response for 541212: 1.38639821816, 103.899960023
response for 310227: 1.33951514446, 103.857970837
response for 228149: 1.30101841029, 103.849553702
response for 600205: 1.33756440098, 103.742881138
response for 320107: 1.32785332685, 103.854993725
response for 521147: 1.3492376264, 103.942179742
response for 650369: 1.36002945984, 103.751072295
response for 311138: 1.33671098514, 103.845472946
response for 807486: 1.38546160601, 103.865171096
response for 140064: 1.29930999795, 103.797234578
response for 640866: 1.35057364771, 103.695465764
response for 650260: 1.35091259231, 103.759021061
response for 610181: 1.33369206576, 103.721934876
response for 530436: 1.3772097779, 103.893845634
response for 550504: 1.37387843223, 103.876307853
response for 644658: 1.33721672789, 103.700757991
response for 529230: 1.35625417363, 103.950752703
response for 760849: 1.41696049844, 103.835347787
response for 659802: 1.3524011744, 103.755987038
response for 150082: 1.28741599109, 103.819474771
response for 824101: 1.39848478484, 103.906143887
response for 579599: 1.35645196344, 103.830633726
   postalcode lat lon                        latlon
0      400336          1.32572020348, 103.901822393
1      546183           1.3624250511, 103.876520751
2      578345          1.37403135668, 103.832480498
3      650420          1.36255043036, 103.745770795
4      460059           1.32454416186, 103.92061613
5      466507          1.31578148106, 103.941424516
6      357984          1.34656818171, 103.868524083
7      760776           1.42255934807, 103.83394406
8      560129           1.36989498896, 103.84205905
9      732685           1.4413334284, 103.806136165
10     669558          1.36249366464, 103.765891211
11     737785          1.42867767353, 103.786351064
12     330004          1.31620522831, 103.860021154
13     531470          1.37905480017, 103.901927832
14     684686           1.4041436942, 103.748355691
15     760150           1.4309694175, 103.833648679
16     640489          1.34917459624, 103.727239833
17     798595          1.38762349661, 103.879314929
18     828785          1.40503554983, 103.900043752
19     540142          1.39045415383, 103.905102918
20     543124           1.3880964074, 103.902720783
21     550407          1.34718613035, 103.872968182
22     670183          1.37996383569, 103.763048292
23     510709           1.38176171803, 103.93857797
24     760797          1.41919704538, 103.833594312
25     315079          1.33472713626, 103.849822984
26     275018          1.30998398427, 103.792601367
27     310153          1.33357057543, 103.845723777
28     160043          1.28467056651, 103.831049308
29     270026          1.30831872044, 103.785675105
..        ...  ..  ..                           ...
70     538564          1.34430273223, 103.879300994
71     669617          1.36255690674, 103.765233809
72     120423          1.30945612208, 103.769918823
73     546685          1.36723934517, 103.877869108
74     760352          1.42646254168, 103.844908931
75     425687          1.31266290804, 103.911509004
76     208766           1.30827581229, 103.86311742
77     530690          1.37693205727, 103.885697042
78     541212          1.38639821816, 103.899960023
79     310227          1.33951514446, 103.857970837
80     228149          1.30101841029, 103.849553702
81     600205          1.33756440098, 103.742881138
82     320107          1.32785332685, 103.854993725
83     521147           1.3492376264, 103.942179742
84     650369          1.36002945984, 103.751072295
85     311138          1.33671098514, 103.845472946
86     807486          1.38546160601, 103.865171096
87     140064          1.29930999795, 103.797234578
88     640866          1.35057364771, 103.695465764
89     650260          1.35091259231, 103.759021061
90     610181          1.33369206576, 103.721934876
91     530436           1.3772097779, 103.893845634
92     550504          1.37387843223, 103.876307853
93     644658          1.33721672789, 103.700757991
94     529230          1.35625417363, 103.950752703
95     760849          1.41696049844, 103.835347787
96     659802           1.3524011744, 103.755987038
97     150082          1.28741599109, 103.819474771
98     824101          1.39848478484, 103.906143887
99     579599          1.35645196344, 103.830633726

[100 rows x 4 columns]
Wall time: 21.9 s

C:\Users\Friedemann\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [ ]:
vpcdf['lat'] = vpcdf['latlon'].apply(lambda x: x.split(',')[0])
vpcdf['lon'] = vpcdf['latlon'].apply(lambda x: x.split(',')[1])
print(vpcdf.head(20))

In [ ]:
vpcdf = vpcdf[['postalcode', 'lat', 'lon']]
vpcdf.reset_index()
print(len(pcdf))
pcdf

In [ ]:
pc_latlon_file = os.path.join(os.pardir,"data","withlatlon.csv")
vpcdf.to_csv(pc_latlon_file)